<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        p.keyword {
            font-weight: bold;  
        }
        p.count{
            font-weight: bold; 
        }
    </style>
</head>
<body>
    <div class="container content">
        <div class="jumbotron">
            <h3>Enter a Search Term for tumblr-posts</h3>
            <form method="POST" action="{}">
                <p class="keyword">
                <label for="Keyword">Keyword:</label>
                <input type="text" name="keyword1" placeholder="Ex:kingjamesprogramming">
                </p>
                <p class = "count">
                <label for="count">Count:</label>&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="text" name="count" placeholder="Ex:10">
                </p>
                <p>
                <input type="submit" value="Submit">
                </p>
                

            </form>
        </div>
    </div>
</body>
</html>